:root.dark .inverting-image {
    filter: invert(1) hue-rotate(180deg);
}

.VPLink, table {
    font-variant-numeric: tabular-nums;
}

:root {
    --vp-font-family-base: "Inter", sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    --vp-c-brand-1: oklch(50.87% 0.1589 253.43);
    --vp-c-brand-2: oklch(60.87% 0.1589 253.43);
    --vp-c-brand-3: oklch(50.87% 0.1589 253.43);
    --vp-c-brand-soft: oklch(60.7% 0.2145 253.43 / 13%);
    --vp-code-color: oklch(40.87% 0.1589 253.43);
    --vp-c-tip-1: oklch(30.87% 0.1589 253.43);
}

:root.dark {
    --vp-c-brand-1: oklch(72.49% 0.1056 244.75);
    --vp-c-brand-2: oklch(60.87% 0.1589 253.43);
    --vp-c-brand-3: oklch(50.87% 0.1589 253.43);
    --vp-c-brand-soft: oklch(60.7% 0.2145 253.43 / 14%);
    --vp-code-color: oklch(82.49% 0.1056 244.75);
    --vp-c-tip-1: oklch(85.49% 0.1056 244.75);
}

p {
    hyphens: auto;
}